/* h1 {
    color: burlywood;
    text-shadow: 1.5px 1.5px saddlebrown;
    padding-top: 200px;
    text-align: center;
}

.button {
    text-align: center;
    background: lightsteelblue;
    color: crimson;
    padding: 10px;
    border-radius: 25px;
    margin: auto;
    display: block;
} */